@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --thumb-color: #e6e5ea;
  --thumb-size: 28px;
  --thumb-border-color: #a4ffaf;
  --thumb-hover-color: #18171f;
}


/* slider */
input[type=range]::-webkit-slider-thumb {
  appearance: none;
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: var(--thumb-color);
  border-radius: 50%;
  transform: translateY(-40%);
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
  background: var(--thumb-hover-color);
  border: 1px solid var(--thumb-border-color);
}

input[type=range]::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 5px;
}

/* checkboxes */
.cstm-cb input[type=checkbox]{
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.cstm-cb label {
  cursor: pointer;
}

.cb {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}